<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="accueil.html">Accueil</a></li>
                <li><a class="no-style" href="nosmartphone.html">Nos Smartphones</a></li>
                <li><a class="no-style" href="monpanier.html">Mon Panier</a></li>
                <li><a class="no-style" href="monespace.html">Mon Espace</a></li>
                <li><a class="no-style" href="contact.html">Nous contacter</a></li>
            </ul>
        </nav>
    </section>

    <section class="landing-page">

        <h1 class="title">Bienvenue sur Denwallo</h1>

        <h2 class="slogan">Decouvrez une selection exclusive de smartphones de hautes games, disponible au meilleur prix</h2>
    
        <div class="action">
            <a href="nosmartphone.html" class="button">Achetez maintenant</a>
        </div>
    
        <img class="img_accueil" src="../public/images/image_accueil.png" alt="">
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>