<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="">Utilisateurs</a></li>
                <li><a class="no-style" href="">Produits</a></li>
                <li><a class="no-style" href="">Commandes</a></li>
                <li><a class="no-style" href="">Messages</a></li>
                <li><a class="no-style" href="">Deconnexion</a></li>
            </ul>
        </nav>
    </section>

    <section class="monespace">

        <div class="contenu_produit">

            <div class="top_contenu">

                <div class="title_contenu">
                    <h1>Produits</h1>
                </div>

                <div class="nav_marque">
                    <ul>
                        <li>Apple</li>
                        <li>Samsung</li>
                        <li>Xiaomi</li>
                        <li>Huawei</li>
                    </ul>
                </div>

                <div class="btn_ajoutProduit">
                    <a class="add_btn" href="">Ajouter +</a>
                </div>

            </div>

            <div class="cards_prod">

                <a href="detail_produit.html">
                    <div class="card_prod">
                        <img style="height: 150px;" src="../public/images/iphone-xr.jpg" alt="">
                        <span>iPhone XR</span> 
                    </div>
                </a>

                <a href="detail_produit.html">
                    <div class="card_prod">
                        <img style="height: 150px;" src="../public/images/iphone-xr.jpg" alt="">
                        <span>iPhone XR</span> 
                    </div>
                </a>
            
                <!-- <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a>

                <a href="">
                    <div class="card_prod">
                         
                    </div>
                </a> -->

            </div>

            <div class="count-page">
                <p>1 | 2 | 3</p>
            </div> 

        </div> 
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>

</body>
</html>