<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="monespaceadmin">

        <div class="box-connexion">

            <div class="formulaire">

                <h1>Connexion</h1>
                
                <form action="connexionAdmin.html">

                    <div class="mail">
                        <label for="mail">Adresse e-mail :</label>
                        <input type="text" name="mail" id="mail">
                    </div>

                    <div class="mdp">
                        <label for="mdp">Mot de passe :</label>
                        <input type="text" name="mdp" id="mdp">
                    </div>

                    <div class="bouton">
                        <input type="submit" value="Se connecter en tant qu'administrateur">
                    </div>
                
                </form>

            </div>
           
        </div>
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>