<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="accueil.html">Accueil</a></li>
                <li><a class="no-style" href="nosmartphone.html">Nos Smartphones</a></li>
                <li><a class="no-style" href="monpanier.html">Mon Panier</a></li>
                <li><a class="no-style" href="monespace.html">Mon Espace</a></li>
                <li><a class="no-style" href="contact.html">Nous contacter</a></li>
            </ul>
            <ul>
                <li>Apple</li>
                <li>Samsung</li>
                <li>Xiaomi</li>
                <li>Huawei</li>
            </ul>
        </nav>
    </section>

    <section class="product-details">

        <div class="alldetail">

            <div class="top-detailprod">

                <a href="listeproduit.html"> <img src="../public/images/retour.png" alt="retour"></a>
                <button><img src="../public/images/ajoutpanier.png" alt=""></button>

            </div>

            <div class="centerdetail">

                <div class="img-product">
                    <img style="height: 575px; width: 470px;" src="../public/images/iphone-11bis.jpg" alt="iphone11bis">
                </div>

                <div class="detail-product">

                    <div class="caractere">

                        <h1>Details</h1>

                        <p>Marque :</p>
                        <p>Modèle :</p>
                        <p>Stockage :</p>
                        <p>Couleur :</p>
                        <p>Système d'exploitation :</p>
                        <p>RAM :</p>
                        <p>Résolution :</p>
                        <p>Taille :</p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>