<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="accueil.html">Accueil</a></li>
                <li><a class="no-style" href="nosmartphone.html">Nos Smartphones</a></li>
                <li><a class="no-style" href="monpanier.html">Mon Panier</a></li>
                <li><a class="no-style" href="monespace.html">Mon Espace</a></li>
                <li><a class="no-style" href="contact.html">Nous contacter</a></li>
            </ul>
            <ul>
                <li>Apple</li>
                <li>Samsung</li>
                <li>Xiaomi</li>
                <li>Huawei</li>
            </ul>
        </nav>
    </section>

    <section class="monespace">

        <div class="info-espace">
            <div class="espace-title">
                <h1>Mon Espace</h1>
            </div>
            <div class="info">
                <p>Prenom : Riyad</p>
                <p>Nom : RAMDANi</p>
                <p>Telephone : 0669951485</p>
                <p>Adresse mail : riyad@test.com</p>
                <p>Adresse Postal : 7 rue des acacias, <br>Villiers-sur-marne 94350</p>
                <p>Mot de passe : ***************</p>
            </div>
        </div>
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>