<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="accueil.html">Accueil</a></li>
                <li><a class="no-style" href="nosmartphone.html">Nos Smartphones</a></li>
                <li><a class="no-style" href="monpanier.html">Mon Panier</a></li>
                <li><a class="no-style" href="monespace.html">Mon Espace</a></li>
                <li><a class="no-style" href="contact.html">Nous contacter</a></li>
            </ul>
            <ul>
                <li>Apple</li>
                <li>Samsung</li>
                <li>Xiaomi</li>
                <li>Huawei</li>
            </ul>
        </nav>
    </section>

    <section class="panier">

        <div class="panier-left">
            <h1>Panier</h1>

            <div class="separator"> 
            </div>

            <div class="articles">

                <div class="article">
                    <img src="../public/images/iphone-11.jpg" alt="">
                    <div class="article-detail">
                        <h2>Iphone 11</h2>
                        <p>Prix : 259,99&euro;</p>
                        <p>Stockage : 64 Go</p>
                        <p>Couleur : Noir</p>
                    </div>
                </div>
                <div class="article">
                    <img src="../public/images/iphone-xr.jpg" alt="">
                    <div class="article-detail">
                        <h2>Iphone XR</h2>
                        <p>Prix : 229,99&euro;</p>
                        <p>Stockage : 64 Go</p>
                        <p>Couleur : Noir</p>
                    </div>
                </div>
                <div class="article">
                </div>

            </div>
        </div>
        
        <div class="panier-total">
            <div class="nb-article">
                <p>2 Articles</p>
                <p>489,98&euro;</p>
            </div>
            <div class="separateur">

            </div>
            <div class="prix_tot">
                <p>Total TTC : 489,98&euro;</p>
            </div>
        </div>
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>