<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Denwallo</title>
    <link rel="stylesheet" href="../public/css/design.css">
</head>
<body>

    <section class="top-page">
        <nav class="nav-bar">
            <ul>
                <li><a class="no-style" href="">Utilisateurs</a></li>
                <li><a class="no-style" href="">Produits</a></li>
                <li><a class="no-style" href="">Commandes</a></li>
                <li><a class="no-style" href="">Messages</a></li>
                <li><a class="no-style" href="">Deconnexion</a></li>
            </ul>
        </nav>
    </section>

    <section class="monespace">

        <div class="box-connexion">

            <div class="contenu_connexion">
                <div class="connect_title">
                    <p>Vous êtes connecté en tant qu'administrateur</p>
                </div>
                <div class="connect_img">
                    <img src="../public/images/valide.png" alt="">
                </div>
            </div>
           
        </div>
    
    </section>

    <section class="footer">

        <p class="text_footer">&copy; 2025 - Denwallo</p>

    </section>



    
</body>
</html>